<h1>Wines</h1>
<p>Available as of <%= formatted_time(@available_at) %></p>
<%= page_entries_info @wines %>
<ol>
<% @wines.each do |wine| %>

  <li>
  	<%= link_to(wine.name, wine) %> from <%= wine.winery %> winery with <%= wine.varietal %> varietal
    <%= format_average_rating(wine) %>
    <% if wine.log_entries.any? %>
     (out of <%= pluralize(wine.log_entries.size, 'log_entry') %>)
    <% end %>
  </li>

<% end %>
</ol>
<%= paginate @wines %>

<!-- 
Removed link to new wine from class 10, lab 5, Applying Layouts
<%= link_to 'New Wine', new_wine_path %>
-->